.topnav {
    overflow: hidden;
    background-color: white;
    position: fixed;
    border-radius: opx;
    top: 0;
    height: 50px;
    width: 100%;
    margin: 0px;
}

.topnav a {
    padding: 20px 20px;
}