.post {
    background-color: white;
    border-bottom: groove;
    padding: 20px;
    height: 200px;
}
.base {
    background-color: white;
}
.like {
    background-color: lawngreen;
}
.dislike {
    background-color: red;
}
.button {
    display: block;
    float: right;
    margin: 10px;
}
.p {
    overflow: 'auto'
}